# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.classpath
.gradle/3.5.1/file-changes/last-build.bin
.gradle/3.5.1/file-changes/last-build.bin.cpgz
.gradle/3.5.1/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/built.bin.cpgz
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
.project
.settings/org.eclipse.buildship.core.prefs
bin/application.properties
bin/org/jp/reima/dl_dota_replay/api/.gitkeep
bin/org/jp/reima/dl_dota_replay/controller/.gitkeep
bin/org/jp/reima/dl_dota_replay/domain/repository/.gitkeep
bin/org/jp/reima/dl_dota_replay/domain/resource/.gitkeep
bin/org/jp/reima/dl_dota_replay/infra/repository/.gitkeep
.gradle/3.5.1/fileContent/annotation-processors.bin
.gradle/3.5.1/fileContent/fileContent.lock
.gradle/3.5.1/taskHistory/fileHashes.bin
.gradle/3.5.1/taskHistory/fileSnapshots.bin
.gradle/3.5.1/taskHistory/jvmClassSignatures.bin
.gradle/3.5.1/taskHistory/taskHistory.bin
bin/application.yml
